.container {
    width: 388px;
    height: 617px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px grey;
    border-radius: 30px;
    background-color: black;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.calButton {
    display: grid;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calButton > div {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.calButton {
    border: 0.5px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    width: 97px;
    height: 102px;
}

/* Button Colors */
.calButton:hover {
    color: orange;
    transition: 0.05s ease-in-out;
}

/* CA - Clear Button */
#clear {
    background-color: orange;
    color: black;
}

#clear:hover{
    color: white;
    transition: 0.05s ease-in-out;
}

/* - Substraction Button */
#subtraction {
    background-color: orange;
    color: black;
}

#subtraction:hover {
    color: white;
    transition: 0.05s ease-in-out;
}

/* + - Addition Button */
#addition {
    background-color: orange;
    color: black;
}

#addition:hover {
    color: white;
    transition: 0.05s ease-in-out;
}

/* = - Equal Button */
#equal {
    background-color: orange;
    color: black;
}

#equal:hover {
    color: white;
    transition: 0.05s ease-in-out;
}